<%= form_for(@serviceorglisting) do |f| %>
  <% if @serviceorglisting.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@serviceorglisting.errors.count, "error") %> prohibited this Service Organization from being saved:</h2>

      <ul>
      <% @serviceorglisting.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field"> Organization Name
    <!--<%= f.label :name %>--><br>
    <%= f.text_field :name %>
  </div>
  <div class="field"> Organization Address
    <!--<%= f.label :address %>--><br>
    <%= f.text_area :address %>
  </div>
  <div class="field"> Website
    <!--<%= f.label :website %>--><br>
    <%= f.text_field :website %>
  </div>
  <div class="field"> Phone Number
    <!--<%= f.label :phone %>--><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field"> Accepts Nonperishables?
    <!--<%= f.label :nonperishables %><br>-->
    <%= f.check_box :nonperishables %>
  </div>
  <div class="field"> Accepts Fresh Foods?
    <!--<%= f.label :freshFoods %><br>-->
    <%= f.check_box :freshFoods %>
  </div>
  <div class="field"> Accepts Refridgerated Foods?
    <!--<%= f.label :refridgeratedFoods %><br>-->
    <%= f.check_box :refridgeratedFoods %>
  </div>
  <div class="field"> Accepts Frozen Foods?
    <!--<%= f.label :frozenFoods %><br>-->
    <%= f.check_box :frozenFoods %>
  </div>
  <div class="field"> Accepts Cooked Foods?
    <!--<%= f.label :cookedFoods %><br>-->
    <%= f.check_box :cookedFoods %>
  </div>
  <div class="field"> What are the hours of operation?
    <!--<%= f.label :hours %>--><br>
    <%= f.text_area :hours %>
  </div>
  <div class="field"> Any other important information?
    <!--<%= f.label :otherInformation %>--><br>
    <%= f.text_area :otherInformation %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
