<!--<style>
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td{
padding: 15px;
}
th {
  text-align: center;
}
</style>-->
<p id="notice"><%= notice %></p>

<h1> THIS IS THE NEW STUFF</h1>

<h1>Listing Service Organizations</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
      <th>Website</th>
      <th>Phone</th>
      <th>Nonperishables</th>
      <th>Fresh Foods?</th>
      <th>Refridgerated Foods?</th>
      <th>Frozen Foods?</th>
      <th>Cooked Foods?</th>
      <th>Hours</th>
      <th>Other Information</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @serviceorglistings.each do |serviceorglisting| %>
      <tr>
        <td><%= serviceorglisting.name %></td>
        <td><%= serviceorglisting.address %></td>
        <td><%= serviceorglisting.website %></td>
        <td><%= serviceorglisting.phone %></td>
        <td><%= serviceorglisting.nonperishables %></td>
        <td><%= serviceorglisting.freshFoods %></td>
        <td><%= serviceorglisting.refridgeratedFoods %></td>
        <td><%= serviceorglisting.frozenFoods %></td>
        <td><%= serviceorglisting.cookedFoods %></td>
        <td><%= serviceorglisting.hours %></td>
        <td><%= serviceorglisting.otherInformation %></td>
        <td><%= link_to 'Show', serviceorglisting %><!--</td>-->
        <td><%= link_to 'Edit', edit_serviceorglisting_path(serviceorglisting) %></td>
        <td><%= link_to 'Destroy', serviceorglisting, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Add New Service Organization', new_serviceorglisting_path %>