<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @food.item %>
</p>

<p>
  <strong>Category:</strong>
  <%= @food.category %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @food.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @food.description %>
</p>

<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
